body {
    font-family: monospace;
    background-color: #000;
    padding: 0;
    margin: 0;
    display: flex;
}

.sidebar {
    width: 200px;
    background: #222;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.color-picker {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

.button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: #444;
    color: white;
    border: none;
    cursor: pointer;
}

/* Контейнер занимает оставшееся место */
.container {
    position: relative;
    flex: 1;
    height: 100vh;
    background-color: #333;
    cursor: crosshair;
}

/* Футер теперь внутри sidebar */
footer {
    margin-top: auto;
    padding: 15px 0;
    text-align: center;
    background: none;
    width: 100%;
}

.footer-button {
    padding: 12px 25px;
    font-size: 16px;
    background: #FF9F43;
    color: black;
    border: 2px solid #000;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    margin-bottom: 5px;
}

.footer-button:hover {
    background: #ee8c2e;
    color: white;
    border: 2px solid #fff;
    transform: translateY(-3px);
}

.footer-button:active {
    background: #B23A3A;
    transform: translateY(1px);
}
